pyperf==2.3.0

SQLAlchemy==1.3.17
html5lib==1.1
requests==2.24.0
chardet==3.0.4
urllib3==1.25.9
certifi==2020.6.20
idna==2.9

# fasteners
six==1.15.0
fasteners==0.16.3

# djangocms requirements
Django==3.0.7
asgiref==3.2.10
dj-database-url==0.5.0
django-classy-tags==1.0.0
django-cms==3.7.3
django-filer==1.7.1
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-attributes-field==1.2.0
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-installer==1.2.3
djangocms-link==2.6.1
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.9.1
djangocms-video==2.3.0
easy-thumbnails==2.7
Pillow==7.1.2
pytz==2020.1
sqlparse==0.3.1
tzlocal==2.1
Unidecode==1.1.1
webencodings==0.5.1

# flaskblogging requirements
Flask==1.1.2
Flask-FileUpload==0.5.0
Flask-Login==0.5.0
Flask-Principal==0.4.0
Flask-WTF==0.14.3
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
WTForms==2.3.1
Werkzeug==0.16.0
blinker==1.4
click==7.1.2
Flask-Blogging==1.2.2
Flask-Caching==1.9.0
itsdangerous==1.1.0
python-slugify==4.0.0
shortuuid==1.0.1
text-unidecode==1.3
